{% extends "layout/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="wrap" style="max-width: 520px">
    <form method="post" class="card" style="padding:20px">
        {% csrf_token %}

        <div class="field">
            <label>{{ form.old_password.label }}</label>
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>

        <div class="field">
            <label>{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>

        <div class="field">
            <label>{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>

        <button class="btn btn-primary" type="submit">
            Сменить пароль
        </button>
    </form>
</div>
{% endblock %}
