{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}Kolberg{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="wrap">
        {% include "layout/header.html" %}

        {% block content %}{% endblock %}

        {% include "layout/footer.html" %}
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>
